.button{
    padding: 10px 20px;
    margin: 10px;
    border-radius:7px;
    font-size: 18px;
    border:0px;
    font-weight: bold;
    color:#fff;
    background:linear-gradient(180deg, rgba(206, 34, 34, 0.938),rgba(172, 34, 206, 0.877), rgba(34, 94, 206, 0.932));
    background-size: auto 400%;
    background-position: 0px 0%;
    transition-duration: 1.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    outline:none;

    animation-name: button_pulse;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    @keyframes button_pulse {
        0%{
            box-shadow: 0px 0px 20px #fff;
        }
        50%{
            box-shadow: 0px 0px 50px rgb(25, 253, 242);
        }
        100%{
            box-shadow: 0px 0px 20px #fff;
        }
    }

    &:hover{
        background-position: 0px 200%;
        transition-duration: 0.7s;
        box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.8);
    }
    &:active{
        transition-duration: 0.2s;
        box-shadow:  0px 0px 40px rgba(255, 0, 0, 0.897),
                     0px  0px 20px rgba(41, 212, 255, 0.911);
    }
    &.disabled{
        animation: none;
        color:#777;
        background:#ccc;
    }
    
}
