.bottom-foot{
    height: 28px;
    width: 100%;
    position: relative;
    bottom:0px;
    $opacity: 0.7;
    background-color: #24292E;
    //background:linear-gradient(90deg, rgba(206, 34, 68, $opacity), rgba(225, 110, 10, $opacity), rgba(196, 21, 244, $opacity));
    box-shadow: 0px -3px 20px rgba(0,0,0,0.4);
    z-index:999;
    color:#fff;
    line-height: 28px;
    a{
        color:#fff;
    }
}

.foot-fill{
    height: 60px;
    
}