.presentation{
    color: #fff;
    text-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    font-size: 30px;
    min-height: 5vh;
    line-height: 40px;
    padding: 30px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color:#fff;
    margin-bottom: 50px;
    margin-top: 50px;
}