.repository{
    .title{

    }
    .github-box{
        text-align: center;
        button{
            width:100px;
            height: 35px;
            padding:5px 15px;
            border: 0px;
            outline: none;
            background-color:#24292E;
            color:#fff;
            font-weight: bold;
            font-size: 14px;
            border-radius: 4px;
            
            .icon{

            }
            .text{

            }
        }
    }
}